pythermica.egg-info/*
.eggs/*
dist/*
build/*
pythermica/__pycache__/*
tests/__pycache__/*
.coverage
htmlcov
.env
.pytest_cache
images
coverage.xml
.vscode/settings.json
docs/_build/*
exemples/model_test/*.png
exemples/simulation_1/*/*.png

